* {
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
}

input,button{
    border:1px solid #666;
    border-radius:5px;
    background:none;
    padding:2px;
}
input{
    width:100px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance:none;
    margin:0;
}
input[type="number"]{
    -moz-appearance:textfield;
    appearance:textfield;
}
button{
    padding:2px 10px;
}

input:focus,button:focus{
    border:0px;
    outline: 2px solid #176b87;
    border-radius:5px;
}